# <u><p style="text-align: center;">Reduce</p></u>

### Learning goals  
Students will be able to:  
*	Explain how the reduce operation works 
*	Recognize reduce operations in python

### Background

In the previous notebook, we saw how to use the `map` operation to work elementwise with collections of data. `Map` is suitable for transforming each element in a collection <u>individually</u>, but cannot be applied in cases where the required transformations involve more than one element of the same collection. For the latter cases we have a technique called `reduce`. `Reduce` is used to combine all the elements of a collection into a single result. `Reduce` takes two elements each time, applies a function, and carries over the result.

Similarly to `map`, `reduce` operations can be distributed to multiple cores/machines in order to perform calculations faster. To ensure that the results are coherent between repeated evaluations, the operation implemented by the function that is used by `reduce` should be **associative**. Associative operations are those where no matter how we group the elements of the collection and apply the function, the result will always be the same. Below are some associative operations (suitable for reduce):

$$ (2 + 3) + 4 = 2 + (3 + 4) $$
$$ (10 \times 2) \times 5 = 10 \times (2 \times 5) $$

And non-associative opetations (not suitable for reduce):

$$ (2 - 3) + 4 \neq 2 - (3 + 4) $$
$$ (10 \div 2) \div 5 \neq 10 \div (2 \div 5) $$

### Code examples

The syntax of `reduce` is:

reduce(function, collection)

#### Example 1:
Let's say that we want to find the highest daily temperature in the town of Wageningen. We could do that by first defining our average daily temperatures:

In [ ]:
temperatures = [10, 7, 11, 13, 9, 10, 8] #in Celsius

and then performing a reduce operation over `temperatures`:

In [ ]:
from functools import reduce

result = reduce(max, [10,7,11,13,9])
print(result)

#### Example 2:
In a similar manner we can find the southernmost point from pairs that contain the latitude and longitude of a location.

The function `get_southern_pair` takes two coordinates of the form [latitude, longitude], compares the latitudes and returns the coordinate which is more south:

In [ ]:
def get_southern_pair(pair1, pair2):
    
    if pair1[0] < pair2[0]:
        southern_pair = pair1
    else:
        southern_pair = pair2
    
    return southern_pair 

coordinate_1 = [35.632291, -293.326864]
coordinate_2 = [50.869759, 7.869558]

southern_pair = get_southern_pair(coordinate_1, coordinate_2)

print(southern_pair)

And using `reduce` to apply this comparison to a list of coordinates:

In [ ]:
#coordinates are formatted as (latitude, longitude)
coordinates = [[62.235184, -144.026314],
              [35.632291, -293.326864],
              [50.869759, 7.869558],
              [35.632291, -249.642216],
              [63.728073, 98.231107]]

southernmost_pair = reduce(get_southern_pair, coordinates)
print(southernmost_pair)

#### Example 3:
In a similar way, we could calculate the average weight of broiler chickens in a barn. We first calculate the sum of the broiler weights. Then, we divide this sum by the number of weights we have (the length of the weights collection):

In [ ]:
def add(number_1, number_2):
    return number_1 + number_2

chicken_weights = [2.1, 1.9, 2.8, 2.2, 2.5, 2.3, 1.9] #broilers, kg

reduce(add, chicken_weights) / len(chicken_weights)

<span style="display:none" id="question1">W3sicXVlc3Rpb24iOiAiV2hpY2ggb2YgdGhlIGZvbGxvd2luZyBzdGF0ZW1lbnRzIGFyZSB0cnVlPyIsICJ0eXBlIjogIm1hbnlfY2hvaWNlIiwgImFuc3dlcnMiOiBbeyJjb2RlIjogIidSZWR1Y2UnIGFuZCAnbWFwJyBjYW4gIGJlIHVzZWQgaW50ZXJjaGFuZ2VhYmx5IiwgImNvcnJlY3QiOiBmYWxzZSwgImZlZWRiYWNrIjogIk1hcCBpcyBub3Qgc3VpdGFibGUgZm9yIG9wZXJhdGlvbnMgaW52b2x2aW5nIG11bHRpcGxlIGVsZW1lbnRzIG9mIGEgY29sbGVjdGlvbiJ9LCB7ImNvZGUiOiAiVGhlIGZ1bmN0aW9uIHByb3ZpZGVkIHRvICdyZWR1Y2UnIHNob3VsZCBiZSBhc3NvLWNpYXRpdmUiLCAiY29ycmVjdCI6IHRydWV9LCB7ImNvZGUiOiAiJ1JlZHVjZScgYXBwbGllcyBhIGZ1bmMtdGlvbiB0byBlYWNoIGluZGl2aWR1YWwgZWxlbWVudCBpbiBhIGNvbGxlY3Rpb24iLCAiY29ycmVjdCI6IGZhbHNlLCAiZmVlZGJhY2siOiAiSXQgZG9lcyBpdCBpbiBwYWlycyBvZiBlbGVtZW50cyJ9LCB7ImNvZGUiOiAiJ1JlZHVjZScgYXBwbGllcyBhIGZ1bmMtdGlvbiB0byBhIHBhaXIgb2YgZWxlLSAgIG1lbnRzLCB0YWtlcyB0aGUgcmVzdWx0IGFuZCBwYXNzZXMgaXQgdG8gdGhlICAgIGZ1bmN0aW9uIHdpdGggdGhlIG5leHQgIGVsZW1lbnQgb2YgdGhlICAgICAgICAgIGNvbGxlY3Rpb24iLCAiY29ycmVjdCI6IHRydWV9XX1d</span>

### Quiz

#### Q1:

In [ ]:
from jupyterquiz import display_quiz

display_quiz("#question1")

### More advanced examples

#### Example A1:
Until now we saw that `reduce` can be supplied with a function and a data collection. There is also a third optional parameter which acts as an initializer for the reduce operation.

This third parameter can be a value which could be used as an offset:

In [ ]:
#Here we use the `add` function of example 3
print(reduce(add, [1,2,3,4,5])) #two arguments
print(reduce(add, [1,2,3,4,5], 100)) #three arguments

or a data structure (e.g. list) which could be used as a container:

In [ ]:
result = reduce(lambda container, value: container + [value], [6,7,8,9,10], [1,2,3,4,5])
print(result)

Here the list `[1,2,3,4,5]` was used as a container and then one by one the elements of the list `[6,7,8,9,10]` were added to it.